{% extends 'base.html' %}

{% block content %}
<!-- Students -->
  <div id="students" class="container mt-4">
    <h2>Students</h2>

    <!-- Add Student Button -->
    <button class="btn btn-primary my-2" data-toggle="modal" data-target="#addStudentModal">Add Student</button>

    <!-- Student Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DOB</th>
          <th>Parent Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table rows go here -->
        {% for student in students_data %}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.dob}}</td>
          <td>{{student.parent_name}}</td>
          <td>{{student.address}}</td>
          <td>{{student.city}}</td>
          <td>{{student.phone}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Add Student Modal -->
  <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add student form goes here -->
          <form action="/students/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname">
            </div>
            <div class="form-group">
            <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname">
            </div>
            <div class="form-group">
              <label for="dob">DOB</label>
              <input type="number" class="form-control" id="dob" name="dob">
            </div>
            <div class="form-group">
              <label for="pname">Parent Name</label>
              <input type="text" class="form-control" id="pname" name="pname">
            </div>
            <div class="form-group">
                <label for="add">Address</label>
                <input type="text" class="form-control" id="add" name="add">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
            <div class="form-group">
                <label for="phone">Phone Nu.</label>
                <input type="number" class="form-control" id="phone" name="phone">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}