{% extends 'base.html' %}

{% block content %}
  <!-- Report -->
  <div id="report" class="container">
    <h2>Report</h2>

    <!-- Report Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Student ID</th>
          <!-- <th>First Name</th>
          <th>Last Name</th> -->
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table rows go here -->
        {% for record in marks_data %}
        <tr>
          <td>{{ record.student_id }}</td>
          <td>{{ record.percentage }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}